.active {
  color: getColour(pink) !important;
}

.notactive {
  color: getColour(lightblack) !important;
}

.navbar-brand {
  font-size: 2em;
  color: getColour(black) !important;
}

h1 {
  margin-top: 120px;
  font-size: 30px;
  color: getColour(darkbrown) !important;
}

footer {
  display: block !important;
  background: getColour(white);
  text-align: center;
}

footer div {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card {
  width: 15rem;
  height: 15rem;
  margin: auto;
  margin-top: 30px;
  background: getColour(darkwhite);
}

.container {
  margin-bottom: 120px;
  max-width: 95% !important;
}

.card,
.card-header,
.card-body,
.card-footer {
  border-radius: 10px !important;
}

.col {
  text-align: center;
}

.special__pinkbo--whitebg {
  border: 3px solid getColour(pink) !important;
  background: getColour(white);
}

.special__whitebo--pinkbg {
  border: 3px solid getColour(white) !important;
  background: getColour(pink);
}

@media screen and (min-width: 1092px) {
  footer {
    display: flex !important;
    justify-content: space-between !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .card {
    width: 10rem !important;
    height: 10rem !important;
  }
}

@media screen and (max-width: 900px) {
  .navbar-collapse {
    margin-bottom: 35px !important;
  }
}
